.card {
  background-color: var(--clr-primary-5);
  width: 30%;
  margin: 1rem;
  border-radius: 1rem;
}

.card__image-container {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 20rem;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.75rem;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding-bottom: 1rem;
}

.card__title {
  font-size: 4rem;
  color: var(--clr-secondary-7);
}

.card__text {
  font-size: 1.5rem;
  color: var(--clr-black);
  margin-bottom: 1rem;
}

.card__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.card__button {
  width: 40%;
}

.card__button--accept {
  color: var(--clr-accept);
}

.card__button--reject {
  color: var(--clr-reject);
}
