@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
  font-weight: 300;
  border: none;
  outline: none;
}

:root {
  --clr-primary-10: #012a4a;
  --clr-primary-9: #013a63;
  --clr-primary-8: #01497c;
  --clr-primary-7: #014f86;
  --clr-primary-6: #2a6f97;
  --clr-primary-5: #a3c4f3;
  --clr-primary-4: #90dbf4;
  --clr-primary-3: #8eecf5;
  --clr-primary-2: #98f5e1;
  --clr-primary-1: #b9fbc0;

  --clr-secondary-10: #590d22;
  --clr-secondary-9: #800f2f;
  --clr-secondary-8: #a4133c;
  --clr-secondary-7: #c9184a;
  --clr-secondary-6: #ff4d6d;
  --clr-secondary-5: #ff758f;
  --clr-secondary-4: #ff8fa3;
  --clr-secondary-3: #ffb3c1;
  --clr-secondary-2: #ffccd5;

  --clr-white: #fff0f3;
  --clr-black: #001219;

  --clr-accept: #4aa022;
  --clr-reject: #ff0000;

  --neumorphism-5: 5px 5px 15px #8ba7cf, -5px -5px 15px #bbe1ff;
  --neumorphism-inset-5: inset 5px 5px 15px #8ba7cf, inset -5px -5px 15px #bbe1ff;
}
